@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "@tailwindcss/typography";

.prose {
  --tw-prose-body: var(--color-base-content);
  --tw-prose-lists: var(--color-base-content);
}
